{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>Novo Pacote</title>

        <link href="{% static 'administrativo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="{% static 'administrativo/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'administrativo/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/style.css' %}" rel="stylesheet">  
        
        <!-- Custom -->      
        <link href="{% static 'administrativo/css/custom.css' %}" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" href="img/futmundi.ico" type="image/png">

        <style>
            .form-control-placeholder::after {
                content: " *";
                color: red;
            }
            .form-control-placeholder:not([for="nome"]):not([for="preco-padrao"]):not([for="preco-promocional"]):not([for="conteudo"])::after {
                content: "";
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a href="{% url "administrativo:usuarios" %}">
                                    <img src="{% static 'administrativo/img/logo.svg' %}" alt="Futmundi logo">
                                </a>
                            </div>
                            <div class="logo-element">
                                <a href="{% url "administrativo:usuarios" %}">
                                    <img src="{% static 'administrativo/img/logosm.svg' %}" alt="Futmundi logo">
                                </a>                            
                            </div>
                        </li>
                        <li class="active">
                            <a href="{% url "administrativo:usuarios" %}"><i class="fa fa-user"></i> <span class="nav-label">Usuários</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label">Campeonatos</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:ambitos" %}">Âmbitos</a></li>
                                <li><a href="{% url "administrativo:campeonatos" %}">Campeonatos</a></li>
                                <li><a href="{% url "administrativo:templates" %}">Templates</a></li>
                                <li><a href="{% url "administrativo:times" %}">Times</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Pacotes</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:futcoins" %}">Futcoins</a></li>
                                <li><a href="{% url "administrativo:planos" %}">Planos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Futligas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:futligas_classicas" %}">Clássicas</a></li>
                                <li><a href="{% url "administrativo:futligas_jogadores" %}">Jogadores</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Locais</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:continentes" %}">Continentes</a></li>
                                <li><a href="{% url "administrativo:paises" %}">Países</a></li>
                                <li><a href="{% url "administrativo:estados" %}">Estados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:parametros" %}">Parâmetros</a></li>
                                <li><a href="{% url "administrativo:termo" %}">Termo</a></li>
                                <li><a href="{% url "administrativo:notificacoes" %}">Notificações</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "administrativo:relatorios" %}"><i class="fa fa-pie-chart"></i> <span class="nav-label">Relatórios</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Andrews Cristhian</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="{% url "administrativo:administradores" %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-users"></i> Administradores
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="{% url "administrativo:login" %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-sign-out"></i> Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Editar Pacote</h2>
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#geral">Geral</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#configuracoes">Configurações</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="geral" class="tab-pane active">
                                        <div class="panel-body">
                                            <form id="package-form" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="nome" name="name" class="form-control" value="{{ package.name }}" required>
                                                                    <label class="form-control-placeholder" for="nome">Nome *</label>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group mt10 col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 mrm15">
                                                                    <div class="card ui-card-shadow ui-widget ui-widget-content ui-corner-all card-small">
                                                                        <div class="card-heading">
                                                                            <h5>Imagem</h5>
                                                                        </div>
                                                                        <div class="card-content" style="position: relative; padding: 0;">
                                                                            <div id="image-preview" style="display: flex; justify-content: center; padding: 0; margin-top: -7px;">
                                                                                {% if package.image %}
                                                                                    <img src="{{ package.image.url }}" style="width: 48px; height: 48px; object-fit: contain; cursor: pointer;" onclick="document.getElementById('image').click()">
                                                                                    <button type="button" class="btn btn-danger btn-xs" id="remove_image_btn" style="position: absolute; bottom: -7px; right: -30px;">
                                                                                        <i class="fa fa-trash"></i>
                                                                                    </button>
                                                                                {% else %}
                                                                                    <i class="fa fa-file-image-o" style="font-size: 48px; color: #ccc; cursor: pointer;" onclick="document.getElementById('image').click()"></i>
                                                                                {% endif %}
                                                                            </div>
                                                                            <input type="file" id="image" name="image" class="input-image" accept="image/*" style="display: none;">
                                                                            <input type="hidden" name="should_remove_image" id="should_remove_image" value="no">
                                                                        </div>                              
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 mt35">
                                                                    <div class="i-checks"><label> <input type="checkbox" name="enabled" {% if package.enabled %}checked{% endif %}> Ativo</label></div>
                                                                </div>
                                                            </div>
                                                        </div>                                    
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 mtm20">
                                                                    <label class="control-label" for="tipo">Tipo</label>
                                                                    <select class="form-control js-example-basic-single" id="tipo" name="package_type" style="width: 80%">
                                                                        <option value="">Selecione</option>
                                                                        <option value="padrao" {% if package.package_type == 'padrao' %}selected{% endif %}>Padrão</option>
                                                                        <option value="promocional" {% if package.package_type == 'promocional' %}selected{% endif %}>Promocional</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="etiqueta" name="label" class="form-control" value="{{ package.label }}">
                                                                    <label class="form-control-placeholder" for="etiqueta">Etiqueta</label>
                                                                </div>
                                                            </div>
                                                            <div class="row label-fields">
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Texto Etiqueta</label>
                                                                    <div id="id3" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" name="color_text_label" value="{{ package.color_text_label }}" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Fundo Etiqueta</label>
                                                                    <div id="id4" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" name="color_background_label" value="{{ package.color_background_label }}" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>                                    
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                    
                                    </div>
                                    <div id="configuracoes" class="tab-pane">
                                        <div class="panel-body">
                                            <form id="package-form-config" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="number" 
                                                                           id="preco-padrao" 
                                                                           name="full_price" 
                                                                           class="form-control input-medium" 
                                                                           value="{{ package.full_price|floatformat:2 }}" 
                                                                           required 
                                                                           step="0.01" 
                                                                           min="0">
                                                                    <label class="form-control-placeholder" for="preco-padrao">Preço Padrão *</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="number" 
                                                                           id="preco-promocional" 
                                                                           name="promotional_price" 
                                                                           class="form-control input-medium" 
                                                                           value="{{ package.promotional_price|floatformat:2 }}" 
                                                                           step="0.01" 
                                                                           min="0">
                                                                    <label class="form-control-placeholder" for="preco-promocional">Preço Promocional</label>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="conteudo" name="content" class="form-control input-medium" value="{{ package.content }}" required>
                                                                    <label class="form-control-placeholder" for="conteudo">Conteúdo (f$) *</label>
                                                                </div>
                                                                <div class="col-lg-4 bonus-field">
                                                                    <input type="number" id="bonus" name="bonus" class="form-control input-medium" value="{{ package.bonus }}" min="0">
                                                                    <label class="form-control-placeholder" for="bonus">Bônus (f$)</label>
                                                                </div> 
                                                            </div>
                                                        </div>   
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4 mtm15">
                                                                    <label class="control-label" for="exibir-para">Exibir para</label>
                                                                    <select class="form-control" id="exibir-para" name="show_to">
                                                                        <option value="Todos" {% if package.show_to == 'todos' %}selected{% endif %}>Todos</option>
                                                                        <option value="Comum" {% if package.show_to == 'comum' %}selected{% endif %}>Comum</option>
                                                                        <option value="Craque" {% if package.show_to == 'craque' %}selected{% endif %}>Craque</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="android-product-code" name="android_product_code" class="form-control" value="{{ package.android_product_code }}">
                                                                    <label class="form-control-placeholder" for="android-product-code">Código do Produto (Android)</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="ios-product-code" name="ios_product_code" class="form-control" value="{{ package.ios_product_code }}">
                                                                    <label class="form-control-placeholder" for="ios-product-code">Código do Produto (iOS)</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="gateway-product-code" name="gateway_product_code" class="form-control" value="{{ package.gateway_product_code }}">
                                                                    <label class="form-control-placeholder" for="gateway-product-code">Código do Produto (Gateway)</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group col-lg-12 date-fields">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <label class="control-label">Data de Início</label>
                                                                    <div class="input-group date" data-target-input="nearest">
                                                                        <input type="text" name="start_date" class="form-control datetimepicker-input" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" value="{{ package.start_date|date:'d/m/Y H:i' }}"/>
                                                                        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <label class="control-label">Data de Término</label>
                                                                    <div class="input-group date" data-target-input="nearest">
                                                                        <input type="text" name="end_date" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" value="{{ package.end_date|date:'d/m/Y H:i' }}"/>
                                                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker2">
                                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default col-lg-12 mtm25 p15">
                                    <button type="button" class="btn btn-success ml20" id="btnSalvar"><i class="fa fa-save mr5"></i> Salvar</button>
                                    <a href="{% url 'administrativo:futcoins' %}" class="btn btn-danger ml15"><i class="fa fa-ban mr5"></i> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="{% static 'administrativo/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'administrativo/js/popper.min.js' %}"></script>
        <script src="{% static 'administrativo/js/bootstrap.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- Custom and plugin javascript -->
        <script src="{% static 'administrativo/js/inspinia.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/pace/pace.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/toastr/toastr.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'administrativo/js/settings.js' %}"></script>

        <script type="text/javascript">
            // Aguarda todos os scripts serem carregados
            window.addEventListener('load', function() {
                console.log('Página totalmente carregada');

                // Setup CSRF token para AJAX requests
                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                    }
                });

                // Configuração do Toastr
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                // Inicializa os colorpickers
                $('.formcolorpicker').colorpicker();

                // Inicializa os datetimepickers
                $('#datetimepicker, #datetimepicker2').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'pt-br',
                    icons: {
                        time: 'fa fa-clock-o',
                        date: 'fa fa-calendar',
                        up: 'fa fa-chevron-up',
                        down: 'fa fa-chevron-down',
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove'
                    },
                    sideBySide: true
                });

                // Lógica para garantir que a data final não seja menor que a inicial
                $("#datetimepicker").on("change.datetimepicker", function (e) {
                    $('#datetimepicker2').datetimepicker('minDate', e.date);
                });
                $("#datetimepicker2").on("change.datetimepicker", function (e) {
                    $('#datetimepicker').datetimepicker('maxDate', e.date);
                });

                // Inicializa iCheck
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });

                // Preview da imagem
                $('.input-image').change(function() {
                    var file = this.files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#image-preview').html(`
                                <img src="${e.target.result}" style="width: 48px; height: 48px; object-fit: contain; cursor: pointer;" onclick="document.getElementById('image').click()">
                                <button type="button" class="btn btn-danger btn-xs" id="remove_image_btn" style="position: absolute; bottom: -7px; right: -30px;">
                                    <i class="fa fa-trash"></i>
                                </button>
                            `);
                        }
                        reader.readAsDataURL(file);
                    }
                });

                // Handler para o botão de remover imagem
                $(document).on('click', '#remove_image_btn', function() {
                    $('#image').val('');
                    $('#should_remove_image').val('yes');
                    $('#image-preview').html('<i class="fa fa-file-image-o" style="font-size: 48px; color: #ccc; cursor: pointer;" onclick="document.getElementById(\'image\').click()"></i>');
                });

                // Handler do botão salvar
                $('#btnSalvar').click(function() {
                    console.log('Botão salvar clicado');

                    // Validação dos campos obrigatórios
                    var nome = $('#nome').val();
                    var tipo = $('#tipo').val();
                    var precoPadrao = $('#preco-padrao').val();
                    var conteudo = $('#conteudo').val();

                    if (!nome || !tipo || !precoPadrao || !conteudo) {
                        toastr.error('Por favor, preencha todos os campos obrigatórios');
                        return;
                    }

                    // Cria o FormData com todos os campos do formulário
                    var formData = new FormData();

                    // Adiciona todos os campos dos dois formulários
                    $('#package-form, #package-form-config').each(function() {
                        var form = $(this);
                        form.find('input, select, textarea').each(function() {
                            var input = $(this);
                            var name = input.attr('name');
                            
                            if (!name) return;

                            if (input.attr('type') === 'file') {
                                if (input[0].files[0]) {
                                    formData.append(name, input[0].files[0]);
                                }
                            } else if (input.attr('type') === 'checkbox') {
                                formData.append(name, input.prop('checked'));
                            } else {
                                formData.append(name, input.val() || '');
                            }
                        });
                    });

                    // Debug - mostra os dados que serão enviados
                    for (var pair of formData.entries()) {
                        console.log(pair[0] + ': ' + pair[1]); 
                    }

                    // Envia os dados
                    $.ajax({
                        url: "{% url 'administrativo:futcoin_editar' package.id %}",
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            console.log('Resposta do servidor:', response);
                            if (response.success) {
                                toastr.success(response.message || 'Pacote atualizado com sucesso!');
                                setTimeout(function() {
                                    window.location.href = "{% url 'administrativo:futcoins' %}";
                                }, 1000);
                            } else {
                                toastr.error(response.message || 'Erro ao atualizar pacote');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log('Erro:', error);
                            console.log('Status:', status);
                            console.log('XHR:', xhr);
                            
                            var errorMessage = 'Erro ao atualizar pacote';
                            try {
                                var response = JSON.parse(xhr.responseText);
                                errorMessage = response.message || errorMessage;
                            } catch (e) {
                                console.log('Erro ao parsear resposta:', e);
                            }
                            toastr.error(errorMessage);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
