{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>Novo Pacote</title>

        <link href="{% static 'administrativo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="{% static 'administrativo/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'administrativo/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/style.css' %}" rel="stylesheet">  
        
        <!-- Custom -->      
        <link href="{% static 'administrativo/css/custom.css' %}" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" href="img/futmundi.ico" type="image/png">

        <style>
            .form-control-placeholder::after {
                content: "";
                color: red;
            }
            .form-control-placeholder:not([for="nome"]):not([for="preco-padrao"]):not([for="preco-promocional"]):not([for="conteudo"])::after {
                content: "";
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a href="{% url "administrativo:usuarios" %}">
                                    <img src="{% static 'administrativo/img/logo.svg' %}" alt="Futmundi logo">
                                </a>
                            </div>
                            <div class="logo-element">
                                <a href="{% url "administrativo:usuarios" %}">
                                    <img src="{% static 'administrativo/img/logosm.svg' %}" alt="Futmundi logo">
                                </a>                            
                            </div>
                        </li>
                        <li class="active">
                            <a href="{% url "administrativo:usuarios" %}"><i class="fa fa-user"></i> <span class="nav-label">Usuários</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label">Campeonatos</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:ambitos" %}">Âmbitos</a></li>
                                <li><a href="{% url "administrativo:campeonatos" %}">Campeonatos</a></li>
                                <li><a href="{% url "administrativo:templates" %}">Templates</a></li>
                                <li><a href="{% url "administrativo:times" %}">Times</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Pacotes</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:futcoins" %}">Futcoins</a></li>
                                <li><a href="{% url "administrativo:planos" %}">Planos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Futligas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:futligas_classicas" %}">Clássicas</a></li>
                                <li><a href="{% url "administrativo:futligas_jogadores" %}">Jogadores</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Locais</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:continentes" %}">Continentes</a></li>
                                <li><a href="{% url "administrativo:paises" %}">Países</a></li>
                                <li><a href="{% url "administrativo:estados" %}">Estados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url "administrativo:parametros" %}">Parâmetros</a></li>
                                <li><a href="{% url "administrativo:termo" %}">Termo</a></li>
                                <li><a href="{% url "administrativo:notificacoes" %}">Notificações</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "administrativo:relatorios" %}"><i class="fa fa-pie-chart"></i> <span class="nav-label">Relatórios</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Andrews Cristhian</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="{% url "administrativo:administradores" %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-users"></i> Administradores
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="{% url "administrativo:login" %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-sign-out"></i> Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Novo Pacote</h2>
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#geral">Geral</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#configuracoes">Configurações</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="geral" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="nome" class="form-control" required>
                                                                    <label class="form-control-placeholder" for="nome">Nome *</label>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group mt10 col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 mrm15">
                                                                    <div class="card ui-card-shadow ui-widget ui-widget-content ui-corner-all card-small">
                                                                        <div class="card-heading">
                                                                            <h5>Imagem</h5>
                                                                        </div>
                                                                        <div class="card-content" style="position: relative; padding: 0;">
                                                                            <div id="image-preview" style="display: flex; justify-content: center; padding: 0; margin-top: -7px;">
                                                                                <i class="fa fa-file-image-o" style="font-size: 48px; color: #ccc; cursor: pointer;" onclick="document.getElementById('image').click()"></i>
                                                                            </div>
                                                                            <input type="file" id="image" name="image" class="input-image" accept="image/*" style="display: none;">
                                                                        </div>                              
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 mt35">
                                                                    <div class="i-checks"><label> <input type="checkbox"> Ativo</label></div>
                                                                </div>
                                                            </div>
                                                        </div>                                    
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 mtm20">
                                                                    <label class="control-label" for="tipo">Tipo</label>
                                                                    <select class="form-control js-example-basic-single" id="tipo" style="width: 80%">
                                                                        <option value="">Selecione</option>
                                                                        <option value="Padrão">Padrão</option>
                                                                        <option value="Promocional">Promocional</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="etiqueta" class="form-control" required>
                                                                    <label class="form-control-placeholder" for="etiqueta">Etiqueta</label>
                                                                </div>
                                                            </div>
                                                            <div class="row label-fields">
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Texto Etiqueta</label>
                                                                    <div id="id3" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" value="#FFFFFF" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Fundo Etiqueta</label>
                                                                    <div id="id4" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" value="#FF0000" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>                                    
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="configuracoes" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="preco-padrao" class="form-control input-medium" required>
                                                                    <label class="form-control-placeholder" for="preco-padrao">Preço Padrão *</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="preco-promocional" class="form-control input-medium" required>
                                                                    <label class="form-control-placeholder" for="preco-promocional">Preço Promocional *</label>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                               <div class="col-lg-4">
                                                                <input type="number" id="conteudo" class="form-control input-medium" required>
                                                                <label class="form-control-placeholder" for="conteudo">Conteúdo (f$) *</label>
                                                            </div>
                                                            <div class="col-lg-4 bonus-field">
                                                                <input type="number" id="bonus" class="form-control input-medium" value="0" min="0">
                                                                <label class="form-control-placeholder" for="bonus">Bônus (f$)</label>
                                                            </div> 
                                                            </div>
                                                        </div>   
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                               <div class="col-lg-4 mtm15">
                                                                    <label class="control-label" for="exibir-para">Exibir para</label>
                                                                    <select class="form-control" id="exibir-para">
                                                                        <option value="Todos">Todos</option>
                                                                        <option value="Comum">Comum</option>
                                                                        <option value="Craque">Craque</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="android-product-code" class="form-control">
                                                                    <label class="form-control-placeholder" for="android-product-code">Código do Produto (Android)</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="ios-product-code" class="form-control">
                                                                    <label class="form-control-placeholder" for="ios-product-code">Código do Produto (iOS)</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="gateway-product-code" class="form-control">
                                                                    <label class="form-control-placeholder" for="gateway-product-code">Código do Produto (Gateway)</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group col-lg-12 date-fields">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label class="control-label">Data de Início</label>
                                                                <div class="input-group date" data-target-input="nearest">
                                                                    <input type="text" class="form-control datetimepicker-input" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker"/>
                                                                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <label class="control-label">Data de Término</label>
                                                                <div class="input-group date" data-target-input="nearest">
                                                                    <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2"/>
                                                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker2">
                                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-12 mtm25 p15">
                                <button type="button" class="btn btn-success ml20" id="btn-salvar"><i class="glyphicon glyphicon-save mr5"></i> Salvar</button>
                                <button type="button" class="btn btn-danger ml15"><i class="fa fa-ban mr5"></i> Cancelar</button>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="{% static 'administrativo/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'administrativo/js/popper.min.js' %}"></script>
        <script src="{% static 'administrativo/js/bootstrap.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- Custom and plugin javascript -->
        <script src="{% static 'administrativo/js/inspinia.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/pace/pace.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/toastr/toastr.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'administrativo/js/settings.js' %}"></script>

        <script>
            $(document).ready(function() {
                // Setup CSRF token for AJAX requests
                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                    }
                });

                // Configuração do Toastr
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "500",
                    "timeOut": "1500",
                    "extendedTimeOut": "500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                // Inicializa o colorpicker
                $('.colorpicker-component').colorpicker();

                // Inicializa o iCheck
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });

                // Inicializa o datetimepicker
                $('#datetimepicker, #datetimepicker2').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    locale: 'pt-br',
                    icons: {
                        time: 'fa fa-clock-o',
                        date: 'fa fa-calendar',
                        up: 'fa fa-chevron-up',
                        down: 'fa fa-chevron-down',
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove'
                    },
                    sideBySide: true
                });

                // Controle de visibilidade baseado no tipo
                $('#tipo').change(function() {
                    var tipo = $(this).val();
                    
                    if (tipo === '') {
                        // Quando for Selecione, oculta todos os campos
                        $('.date-fields').hide();
                        $('.label-fields').hide();
                        $('#etiqueta').closest('.form-group').hide();
                    } else if (tipo === 'Padrão') {
                        // Quando for Padrão, mostra etiqueta mas oculta campos de data
                        $('.date-fields').hide();
                        $('.label-fields').show();
                        $('#etiqueta').closest('.form-group').show();
                    } else if (tipo === 'Promocional') {
                        // Quando for Promocional, mostra todos os campos e define valores padrão
                        $('.date-fields').show();
                        $('.label-fields').show();
                        $('#etiqueta').closest('.form-group').show();
                        
                        // Define valores padrão para a etiqueta
                        $('#etiqueta').val('OFERTA ESPECIAL');
                        $('#id3 input').val('#FFFFFF');
                        $('#id4 input').val('#CC000C');
                        $('#id4 .input-group-addon i').css('background-color', '#CC000C');
                    }
                });
                
                // Dispara o evento change do tipo para configurar visibilidade inicial
                $('#tipo').trigger('change');

                // Preview da imagem
                $('.input-image').change(function() {
                    var file = this.files[0];
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#image-preview').html(`
                                <img src="${e.target.result}" style="width: 48px; height: 48px; object-fit: contain; cursor: pointer;" onclick="document.getElementById('image').click()">
                                <button type="button" class="btn btn-danger btn-xs" id="remove_image_btn" style="position: absolute; bottom: -7px; right: -30px;">
                                    <i class="fa fa-trash"></i>
                                </button>
                            `);
                            $('#image-preview').css('margin-top', '-7px');
                            
                            // Adiciona handler para o botão de remover
                            $('#remove_image_btn').on('click', function() {
                                $('#image').val('');
                                $('#image-preview').html('<i class="fa fa-file-image-o" style="font-size: 48px; color: #ccc; cursor: pointer;" onclick="document.getElementById(\'image\').click()"></i>');
                            });
                        }
                        reader.readAsDataURL(file);
                    }
                });

                // Função para validar e formatar cor
                function validateColor(color) {
                    if (!color) return '#000000';
                    
                    // Remove espaços e converte para minúsculas
                    color = color.trim().toLowerCase();
                    
                    // Se já estiver no formato #RRGGBB, retorna como está
                    if (/^#[0-9a-f]{6}$/.test(color)) {
                        return color;
                    }
                    
                    // Se estiver no formato RGB(r,g,b), converte para hex
                    var rgbMatch = color.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                    if (rgbMatch) {
                        var r = parseInt(rgbMatch[1]).toString(16).padStart(2, '0');
                        var g = parseInt(rgbMatch[2]).toString(16).padStart(2, '0');
                        var b = parseInt(rgbMatch[3]).toString(16).padStart(2, '0');
                        return `#${r}${g}${b}`;
                    }
                    
                    // Se for rgba, remove o canal alpha e converte para hex
                    var rgbaMatch = color.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*[\d.]+\)$/);
                    if (rgbaMatch) {
                        var r = parseInt(rgbaMatch[1]).toString(16).padStart(2, '0');
                        var g = parseInt(rgbaMatch[2]).toString(16).padStart(2, '0');
                        var b = parseInt(rgbaMatch[3]).toString(16).padStart(2, '0');
                        return `#${r}${g}${b}`;
                    }
                    
                    // Se não estiver em nenhum formato válido, retorna preto
                    return '#000000';
                }

                // Salvar pacote
                $('#btn-salvar').click(function() {
                    // Validação dos campos obrigatórios
                    var nome = $('#nome').val();
                    var tipo = $('#tipo').val();
                    var precoPadrao = $('#preco-padrao').val();
                    var precoPromocional = $('#preco-promocional').val();
                    var conteudo = $('#conteudo').val();

                    // Verifica campos obrigatórios
                    if (!nome) {
                        toastr.error('O campo Nome é obrigatório');
                        $('#nome').focus();
                        return;
                    }
                    if (!tipo) {
                        toastr.error('O campo Tipo é obrigatório');
                        $('#tipo').focus();
                        return;
                    }
                    if (!precoPadrao) {
                        toastr.error('O campo Preço Padrão é obrigatório');
                        $('#preco-padrao').focus();
                        return;
                    }
                    if (!precoPromocional) {
                        toastr.error('O campo Preço Promocional é obrigatório');
                        $('#preco-promocional').focus();
                        return;
                    }
                    if (!conteudo) {
                        toastr.error('O campo Conteúdo é obrigatório');
                        $('#conteudo').focus();
                        return;
                    }

                    // Validação das datas para pacotes promocionais
                    if ($('#tipo').val() === 'Promocional') {
                        var startDate = $('#datetimepicker').val();
                        var endDate = $('#datetimepicker2').val();
                        
                        if (!startDate) {
                            toastr.error('A Data de Início é obrigatória para pacotes promocionais');
                            $('#datetimepicker').focus();
                            return;
                        }
                        if (!endDate) {
                            toastr.error('A Data de Término é obrigatória para pacotes promocionais');
                            $('#datetimepicker2').focus();
                            return;
                        }
                    }

                    // Se passou pela validação, cria o FormData
                    var formData = new FormData();
                    
                    // Dados gerais
                    formData.append('csrfmiddlewaretoken', $('meta[name="csrf-token"]').attr('content'));
                    formData.append('name', nome);
                    formData.append('enabled', $('.i-checks input[type="checkbox"]').is(':checked'));
                    formData.append('package_type', $('#tipo').val());
                    formData.append('label', $('#etiqueta').val());
                    formData.append('color_text_label', validateColor($('#id3 input').val()));
                    formData.append('color_background_label', validateColor($('#id4 input').val()));
                    
                    // Configurações
                    formData.append('full_price', precoPadrao);
                    formData.append('promotional_price', precoPromocional);
                    formData.append('content', conteudo);
                    formData.append('bonus', $('#bonus').val() || 0);
                    formData.append('show_to', $('#exibir-para').val());
                    
                    // Trata as datas apenas se o tipo for Promocional
                    if ($('#tipo').val() === 'Promocional') {
                        var startDate = $('#datetimepicker').val();
                        var endDate = $('#datetimepicker2').val();
                        
                        if (startDate) formData.append('start_date', startDate);
                        if (endDate) formData.append('end_date', endDate);
                    }
                    
                    // Códigos do produto
                    formData.append('android_product_code', $('#android-product-code').val());
                    formData.append('ios_product_code', $('#ios-product-code').val());
                    formData.append('gateway_product_code', $('#gateway-product-code').val());

                    // Imagem
                    var imageFile = $('.input-image')[0].files[0];
                    if (imageFile) {
                        formData.append('image', imageFile);
                    }

                    // Envia os dados
                    $.ajax({
                        url: "{% url 'administrativo:pacote_futcoin_novo' %}",
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.success) {
                                toastr.success(response.message);
                                setTimeout(function() {
                                    window.location.href = "{% url 'administrativo:futcoins' %}";
                                }, 1500);
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error: function() {
                            toastr.error('Erro ao criar pacote');
                        }
                    });
                });

                // Botão cancelar
                $('.btn-danger').click(function() {
                    window.location.href = "{% url 'administrativo:futcoins' %}";
                });
            });
        </script>
    </body>
</html>
