{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>{% block title %}Novo Pacote{% endblock %}</title>

        <link href="{% static 'administrativo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'administrativo/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/style.css' %}" rel="stylesheet">          
        <!-- Custom -->      
        <link href="{% static 'administrativo/css/custom.css' %}" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" href="{% static 'administrativo/img/futmundi.ico' %}" type="image/png">
        <style>
            .form-control-placeholder::after {
                content: "";
                color: red;
            }
            .form-control-placeholder:not([for="nome"]):not([for="preco-padrao"]):not([for="preco-promocional"])::after {
                content: "";
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            {% include 'administrativo/menu.html' %}
            <div id="page-wrapper" class="gray-bg">
                {% include 'administrativo/header.html' %}
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        {% block heading %}<h2>Novo Pacote</h2>{% endblock %}
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#geral">Geral</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#configuracoes">Configurações</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="geral" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="nome" class="form-control" required>
                                                                    <label class="form-control-placeholder" for="nome">Nome</label>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4 mtm10">
                                                                    <label class="control-label" for="plano">Plano</label>
                                                                    <select class="form-control js-example-basic-single" id="plano" style="width: 80%">
                                                                        <option value="Craque">Craque</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-4 mtm10">
                                                                    <label class="control-label" for="vigencia">Vigência</label>
                                                                    <select class="form-control js-example-basic-single" id="vigencia" style="width: 80%">
                                                                        <option value="Mensal">Mensal</option>
                                                                        <option value="Semestral">Semestral</option>
                                                                        <option value="Anual">Anual</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>                                                          
                                                        <div class="form-group mt10 col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-3 mrm15">
                                                                    <div class="card ui-card-shadow ui-widget ui-widget-content ui-corner-all card-small">
                                                                        <div class="card-heading">
                                                                            <h5>Imagem</h5>
                                                                        </div>
                                                                        <div class="card-content" style="position: relative; padding: 0;">
                                                                            <div id="image-preview" style="display: flex; justify-content: center; padding: 0; margin-top: -7px;">
                                                                                <i class="fa fa-file-image-o" style="font-size: 48px; color: #ccc; cursor: pointer;" onclick="document.getElementById('image').click()"></i>
                                                                            </div>
                                                                            <input type="file" id="image" name="image" class="input-image" accept="image/*" style="display: none;">
                                                                            <input type="hidden" id="should_remove_image" name="should_remove_image" value="no">
                                                                        </div>                              
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 mt35">
                                                                    <div class="i-checks">
                                                                        <label>
                                                                            <input type="checkbox" id="enabled" name="enabled" checked>
                                                                            <i></i> Ativo
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                    
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4 mtm20">
                                                                    <label class="control-label" for="tipo">Tipo</label>
                                                                    <select class="form-control" id="tipo" style="width: 80%">
                                                                        <option value="">Selecione</option>
                                                                        <option value="Padrão">Padrão</option>
                                                                        <option value="Promocional">Promocional</option>
                                                                        <option value="Novos Jogadores">Novos Jogadores</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="etiqueta" class="form-control">
                                                                    <label class="form-control-placeholder" for="etiqueta">Etiqueta</label>
                                                                </div>
                                                            </div>
                                                            <div class="row label-fields">
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Texto Etiqueta</label>
                                                                    <div id="id3" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" value="#FFFFFF" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 mt10">                                                                        
                                                                    <label class="control-label">Cor Fundo Etiqueta</label>
                                                                    <div id="id4" class="input-group colorpicker-component formcolorpicker">
                                                                        <input type="text" value="#CC000C" class="form-control"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text input-group-addon"><i></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12 beneficio-fields" style="display: none;">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="qtd-renovacoes" class="form-control" min="0">
                                                                    <label class="form-control-placeholder" for="qtd-renovacoes">Qtde Renovações Pacote</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12 novos-usuarios-fields" style="display: none;">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="dias-promocao" class="form-control" min="1">
                                                                    <label class="form-control-placeholder" for="dias-promocao">Dias Promoção</label>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-4" id="bloco-beneficio-futcoins" style="display: none;">
                                                                <div class="col-lg-4 mtm20">
                                                                    <label class="control-label" for="beneficio-futcoins">Benefício Pacote Futcoins<span class="text-danger">*</span></label>
                                                                    <select class="form-control js-example-basic-single" id="beneficio-futcoins" name="beneficio-futcoins" style="width: 100%">
                                                                        <option value="">Selecione um pacote</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="number" id="renovacoes-pacote" name="renovacoes-pacote" class="form-control" min="1">
                                                                    <label class="form-control-placeholder" for="renovacoes-pacote">Qtde Renovações Pacote<span class="text-danger">*</span></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="configuracoes" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form class="mt10">
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="preco-padrao">Preço Padrão</label>
                                                                    <input type="number" id="preco-padrao" class="form-control input-medium" required>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="preco-promocional">Preço Promocional</label>
                                                                    <input type="number" id="preco-promocional" class="form-control input-medium" required>
                                                                </div>
                                                            </div>
                                                        </div>                                                            
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                               <div class="col-lg-4 mtm15">
                                                                    <label class="control-label" for="exibir-para">Exibir para</label>
                                                                    <select class="form-control" id="exibir-para">
                                                                        <option value="Todos">Todos</option>
                                                                        <option value="Comum">Comum</option>
                                                                        <option value="Craque">Craque</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="codigo-android" class="form-control input-medium">
                                                                    <label class="form-control-placeholder" for="codigo-android">Código do produto (Android)</label>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <input type="text" id="codigo-apple" class="form-control input-medium">
                                                                    <label class="form-control-placeholder" for="codigo-apple">Código do produto (Apple)</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form class="mtm10">
                                                        <div class="form-group col-lg-12 date-fields">
                                                            <div class="row">
                                                                <div class="col-lg-5">
                                                                    <label class="control-label">Data de Início</label>
                                                                    <div class="input-group date" data-target-input="nearest">
                                                                        <input type="text" class="form-control datetimepicker-input" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker"/>
                                                                        <input type="hidden" id="hidden_start_date">
                                                                        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    <label class="control-label">Data de Término</label>
                                                                    <div class="input-group date" data-target-input="nearest">
                                                                        <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2"/>
                                                                        <input type="hidden" id="hidden_end_date">
                                                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker2">
                                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                  
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-12 mtm25 p15">
                                <button type="button" class="btn btn-success ml20" id="btn-salvar"><i class="glyphicon glyphicon-save mr5"></i> Salvar</button>
                                <button type="button" class="btn btn-danger ml15"><i class="fa fa-ban mr5"></i> Cancelar</button>  
                                <div id="cancel-url" data-url="{% url 'administrativo:planos' %}" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="{% static 'administrativo/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'administrativo/js/popper.min.js' %}"></script>
        <script src="{% static 'administrativo/js/bootstrap.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- Custom and plugin javascript -->
        <script src="{% static 'administrativo/js/inspinia.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/pace/pace.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/toastr/toastr.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>        
        <script src="{% static 'administrativo/js/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'administrativo/js/settings.js' %}"></script>
        <script src="{% static 'administrativo/js/pacote-plano-novo.js' %}"></script>
        
        {% block form_data %}{% endblock %}
        
        <script>
            // Script adicional para garantir que os colorpickers estejam funcionando
            $(document).ready(function() {
                console.log('Inicializando colorpickers diretamente no template');
                
                // Inicializa os colorpickers com configurações específicas
                $('#id3').colorpicker({
                    format: 'hex'
                }).on('colorpickerChange', function(event) {
                    console.log('Cor #id3 alterada para:', event.color.toString());
                    $(this).find('input').val(event.color.toString());
                });
                
                $('#id4').colorpicker({
                    format: 'hex'
                }).on('colorpickerChange', function(event) {
                    console.log('Cor #id4 alterada para:', event.color.toString());
                    $(this).find('input').val(event.color.toString());
                });
                
                // Dispara o evento change do tipo para configurar visibilidade inicial
                $('#tipo').trigger('change');
                
                // Adiciona um log para verificar os valores dos colorpickers antes do envio
                $('#btn-salvar').on('click', function() {
                    console.log('Valores dos colorpickers no momento do clique:');
                    console.log('Etiqueta:', $('#etiqueta').val());
                    console.log('Cor texto etiqueta (#id3):', $('#id3 input').val());
                    console.log('Cor fundo etiqueta (#id4):', $('#id4 input').val());
                });
            });
        </script>
    </body>
</html>
