<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Novo Template</title>

        <link href="{% static 'administrativo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="{% static 'administrativo/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'administrativo/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/style.css' %}" rel="stylesheet">  
        
        <!-- Custom -->      
        <link href="{% static 'administrativo/css/custom.css' %}" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" href="{% static 'administrativo/img/futmundi.ico' %}" type="image/png">
        
        <style>
            .btn-cancel {
                background-color: #ed5565;
                color: white;
            }
            .btn-cancel:hover {
                background-color: #ec4758;
                color: white;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a href="{% url 'administrativo:usuarios' %}">
                                    <img src="{% static 'administrativo/img/logo.svg' %}" alt="Futmundi logo">
                                </a>
                            </div>
                            <div class="logo-element">
                                <a href="{% url 'administrativo:usuarios' %}">
                                    <img src="{% static 'administrativo/img/logosm.svg' %}" alt="Futmundi logo">
                                </a>                            
                            </div>
                        </li>
                        <li class="active">
                            <a href="{% url 'administrativo:usuarios' %}"><i class="fa fa-user"></i> <span class="nav-label">Usuários</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label">Campeonatos</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:ambitos' %}">Âmbitos</a></li>
                                <li><a href="{% url 'administrativo:campeonatos' %}">Campeonatos</a></li>
                                <li><a href="{% url 'administrativo:templates' %}">Templates</a></li>
                                <li><a href="{% url 'administrativo:times' %}">Times</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Pacotes</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:futcoins' %}">Futcoins</a></li>
                                <li><a href="{% url 'administrativo:planos' %}">Planos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Futligas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:futligas_classicas' %}">Clássicas</a></li>
                                <li><a href="{% url 'administrativo:futligas_jogadores' %}">Jogadores</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Locais</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:continentes' %}">Continentes</a></li>
                                <li><a href="{% url 'administrativo:paises' %}">Países</a></li>
                                <li><a href="{% url 'administrativo:estados' %}">Estados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:parametros' %}">Parâmetros</a></li>
                                <li><a href="{% url 'administrativo:termo' %}">Termo</a></li>
                                <li><a href="{% url 'administrativo:notificacoes' %}">Notificações</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'administrativo:relatorios' %}"><i class="fa fa-pie-chart"></i> <span class="nav-label">Relatórios</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Andrews Cristhian</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="{% url 'administrativo:administradores' %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-users"></i> Administradores
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="{% url 'administrativo:logout' %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-sign-out"></i> Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Novo Template</h2>
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#geral">Geral</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#fases">Fases</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="geral" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-{{ message.tags }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <form method="post" action="{% url 'administrativo:template_novo' %}" class="mt10">
                                                        {% csrf_token %}
                                                        <div class="form-group col-lg-8">
                                                            <input type="text" 
                                                                   id="name" 
                                                                   name="name" 
                                                                   class="form-control" 
                                                                   required
                                                                   oninvalid="this.setCustomValidity('Por favor, preencha este campo')"
                                                                   oninput="this.setCustomValidity('')">
                                                            <label class="form-control-placeholder" for="name">Nome</label>
                                                        </div>
                                                        <div class="col-lg-12 mt15">
                                                            <div class="i-checks"><label><input type="checkbox" name="enabled" checked> Ativo</label></div>
                                                        </div>
                                                        <input type="hidden" id="number_of_stages" name="number_of_stages" value="0">
                                                        <input type="hidden" name="stages" id="stages-data">
                                                        <div class="mt25">
                                                            <button type="submit" class="btn btn-success ml15"><i class="glyphicon glyphicon-save mr5"></i> Salvar</button>
                                                            <a href="{% url 'administrativo:templates' %}" class="btn btn-cancel ml15"><i class="fa fa-ban mr5"></i> Cancelar</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="fases" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                        <div class="form-group col-lg-6">
                                                            <input type="text" id="stage_name" class="form-control" required>
                                                            <label class="form-control-placeholder" for="stage_name">Fase</label>
                                                        </div>  
                                                        <div class="form-group col-lg-6">
                                                            <input type="number" id="stage_rounds" class="form-control" min="1" required>
                                                            <label class="form-control-placeholder" for="stage_rounds">Rodadas</label>
                                                        </div>  
                                                        <div class="form-group mt10">
                                                            <div class="col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <input type="number" min="1" id="stage_matches" class="form-control" required>
                                                                        <label class="form-control-placeholder" for="stage_matches">Jogos/Rodada</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <button type="button" id="btn-add-stage" class="btn btn-primary">
                                                                            <i class="fa fa-plus mr5"></i> Adicionar
                                                                        </button> 
                                                                    </div>
                                                                </div>
                                                            </div>                                    
                                                        </div>
                                                        <div class="mt25">
                                                            <button type="submit" class="btn btn-success ml15"><i class="glyphicon glyphicon-save mr5"></i> Salvar</button>
                                                            <a href="{% url 'administrativo:templates' %}" class="btn btn-cancel ml15"><i class="fa fa-ban mr5"></i> Cancelar</a>
                                                        </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="table-responsive">
                                                        <table id="phases-table" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 30px"></th>
                                                                    <th>Fase</th>
                                                                    <th>Rodadas</th>
                                                                    <th>Jogos por Rodada</th>
                                                                    <th style="width: 100px">Ações</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- As fases serão adicionadas aqui dinamicamente -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adiciona o Sortable.js antes dos outros scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

        <!-- Mainly scripts -->
        <script src="{% static 'administrativo/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'administrativo/js/popper.min.js' %}"></script>
        <script src="{% static 'administrativo/js/bootstrap.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{% static 'administrativo/js/inspinia.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/pace/pace.min.js' %}"></script>

        <!-- Toastr script -->
        <script src="{% static 'administrativo/js/plugins/toastr/toastr.min.js' %}"></script>     
        <script src="{% static 'administrativo/js/plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tablednd/jquery.tablednd.min.js' %}"></script>  
        <script src="{% static 'administrativo/js/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'administrativo/js/settings.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/checkAll/checkAll.js' %}"></script>
        <script>
            $(document).ready(function() {
                var stages = [];
                
                // Inicializa o iCheck
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });
                
                // Configuração do toastr
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    positionClass: "toast-top-right",
                    preventDuplicates: true,
                    showDuration: "300",
                    hideDuration: "1000",
                    timeOut: "5000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut"
                };
                
                // Adiciona uma fase
                $('#btn-add-stage').click(function() {
                    var stageName = $('#stage_name').val();
                    var stageRounds = $('#stage_rounds').val();
                    var stageMatches = $('#stage_matches').val();
                    
                    if (!stageName || !stageRounds || !stageMatches) {
                        toastr.error('Preencha todos os campos da fase');
                        return;
                    }
                    
                    if (stageRounds < 1 || stageMatches < 1) {
                        toastr.error('Rodadas e jogos por rodada devem ser maiores que zero');
                        return;
                    }

                    // Verifica se já existe uma fase com o mesmo nome
                    var duplicateName = false;
                    stages.forEach(function(stage) {
                        if (stage.name.toLowerCase() === stageName.toLowerCase()) {
                            duplicateName = true;
                        }
                    });

                    if (duplicateName) {
                        toastr.error('Já existe uma fase com este nome');
                        return;
                    }
                    
                    var stageIndex = stages.length;
                    stages.push({
                        name: stageName,
                        rounds: stageRounds,
                        matches_per_round: stageMatches
                    });
                    
                    // Adiciona a linha na tabela
                    var row = $('<tr>').attr('data-id', stageIndex);
                    row.append($('<td>').html('<span class="drag-handle">⋮</span>'));
                    row.append($('<td>').text(stageName));
                    row.append($('<td>').text(stageRounds));
                    row.append($('<td>').text(stageMatches));
                    
                    var actions = $('<td>');
                    var editBtn = $('<button type="button" class="btn btn-info btn-xs mr5" title="Editar">')
                        .append('<i class="fa fa-pencil"></i>')
                        .data('index', stageIndex);
                    var deleteBtn = $('<button type="button" class="btn btn-danger btn-xs mr5" title="Excluir">')
                        .append('<i class="fa fa-trash"></i>')
                        .data('index', stageIndex);
                        
                    actions.append(editBtn).append(deleteBtn);
                    row.append(actions);
                    
                    $('#phases-table tbody').append(row);
                    
                    // Limpa os campos
                    $('#stage_name').val('');
                    $('#stage_rounds').val('');
                    $('#stage_matches').val('');
                    
                    // Atualiza os campos hidden
                    $('#stages-data').val(JSON.stringify(stages));
                    $('#number_of_stages').val(stages.length);
                });
                
                // Editar fase
                $(document).on('click', '.btn-info', function() {
                    var index = $(this).data('index');
                    var stage = stages[index];
                    
                    $('#stage_name').val(stage.name);
                    $('#stage_rounds').val(stage.rounds);
                    $('#stage_matches').val(stage.matches_per_round);
                    
                    // Remove a fase atual
                    stages.splice(index, 1);
                    $(this).closest('tr').remove();
                    
                    // Atualiza os campos hidden
                    $('#stages-data').val(JSON.stringify(stages));
                    $('#number_of_stages').val(stages.length);
                });
                
                // Excluir fase
                $(document).on('click', '.btn-danger.btn-xs', function() {
                    var index = $(this).data('index');
                    
                    // Remove a fase
                    stages.splice(index, 1);
                    $(this).closest('tr').remove();
                    
                    // Atualiza os campos hidden
                    $('#stages-data').val(JSON.stringify(stages));
                    $('#number_of_stages').val(stages.length);
                });
                
                // Configuração do drag and drop
                var el = document.querySelector('#phases-table tbody');
                new Sortable(el, {
                    animation: 150,
                    handle: '.drag-handle',
                    onEnd: function() {
                        // Atualiza a ordem das fases
                        var newStages = [];
                        $('#phases-table tbody tr').each(function(index) {
                            var oldIndex = $(this).attr('data-id');
                            newStages[index] = stages[oldIndex];
                        });
                        stages = newStages;
                        
                        // Atualiza os campos hidden
                        $('#stages-data').val(JSON.stringify(stages));
                        $('#number_of_stages').val(stages.length);
                    }
                });

                // Validação e envio do formulário
                $('form').on('submit', function(e) {
                    e.preventDefault();
                    
                    if (stages.length === 0) {
                        toastr.error('Por favor, adicione pelo menos uma fase');
                        return false;
                    }

                    var formData = new FormData(this);
                    formData.append('stages', JSON.stringify(stages));

                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.success) {
                                toastr.success(response.message);
                                setTimeout(function() {
                                    window.location.href = "{% url 'administrativo:templates' %}";
                                }, 1000);
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error: function() {
                            toastr.error('Erro ao salvar template');
                        }
                    });
                });
            });
        </script>
    </body>
</html>
