<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Novo Template</title>

        <link href="{% static 'administrativo/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="{% static 'administrativo/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/plugins/tempusdominus/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'administrativo/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'administrativo/css/style.css' %}" rel="stylesheet">  
        
        <!-- Custom -->      
        <link href="{% static 'administrativo/css/custom.css' %}" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" href="{% static 'administrativo/img/futmundi.ico' %}" type="image/png">
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a href="{% url 'administrativo:usuarios' %}">
                                    <img src="{% static 'administrativo/img/logo.svg' %}" alt="Futmundi logo">
                                </a>
                            </div>
                            <div class="logo-element">
                                <a href="{% url 'administrativo:usuarios' %}">
                                    <img src="{% static 'administrativo/img/logosm.svg' %}" alt="Futmundi logo">
                                </a>                            
                            </div>
                        </li>
                        <li class="active">
                            <a href="{% url 'administrativo:usuarios' %}"><i class="fa fa-user"></i> <span class="nav-label">Usuários</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label">Campeonatos</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:ambitos' %}">Âmbitos</a></li>
                                <li><a href="{% url 'administrativo:campeonatos' %}">Campeonatos</a></li>
                                <li><a href="{% url 'administrativo:templates' %}">Templates</a></li>
                                <li><a href="{% url 'administrativo:times' %}">Times</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Pacotes</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:futcoins' %}">Futcoins</a></li>
                                <li><a href="{% url 'administrativo:planos' %}">Planos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Futligas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:futligas_classicas' %}">Clássicas</a></li>
                                <li><a href="{% url 'administrativo:futligas_jogadores' %}">Jogadores</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Locais</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:continentes' %}">Continentes</a></li>
                                <li><a href="{% url 'administrativo:paises' %}">Países</a></li>
                                <li><a href="{% url 'administrativo:estados' %}">Estados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'administrativo:parametros' %}">Parâmetros</a></li>
                                <li><a href="{% url 'administrativo:termo' %}">Termo</a></li>
                                <li><a href="{% url 'administrativo:notificacoes' %}">Notificações</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'administrativo:relatorios' %}"><i class="fa fa-pie-chart"></i> <span class="nav-label">Relatórios</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Andrews Cristhian</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="{% url 'administrativo:administradores' %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-users"></i> Administradores
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="{% url 'administrativo:logout' %}" class="dropdown-item">
                                            <div>
                                                <i class="fa fa-sign-out"></i> Sair
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Novo Template</h2>
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a class="nav-link active" data-toggle="tab" href="#geral">Geral</a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#fases">Fases</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="geral" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <form id="form-template" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <input type="text" id="name" name="name" class="form-control" required>
                                                            <label class="form-control-placeholder" for="name">Nome</label>
                                                        </div>
                                                        <input type="hidden" id="number_of_stages" name="number_of_stages" value="0">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="fases" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                        <div class="form-group col-lg-6">
                                                        <input type="text" id="stage_name" class="form-control" required>
                                                        <label class="form-control-placeholder" for="stage_name">Fase</label>
                                                        </div>  
                                                        <div class="form-group col-lg-6">
                                                        <input type="number" id="stage_rounds" class="form-control" min="1" required>
                                                        <label class="form-control-placeholder" for="stage_rounds">Rodadas</label>
                                                        </div>  
                                                        <div class="form-group mt10">
                                                            <div class="col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                    <input type="number" min="1" id="stage_matches" class="form-control" required>
                                                                    <label class="form-control-placeholder" for="stage_matches">Jogos/Rodada</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                    <button type="button" id="btn-add-stage" class="btn btn-primary">
                                                                        <i class="fa fa-plus mr5"></i> Adicionar
                                                                    </button> 
                                                                </div>
                                                            </div>
                                                        </div>                                    
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="table-responsive">
                                                        <table id="stages-table" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>                                                    
                                                                    <th class="per20">Fase</th>
                                                                    <th class="per15">Rodadas</th>
                                                                    <th class="per10">Jogos/Rodada</th>
                                                                    <th class="per15">Ações</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-12 mtm25 p15">
                                <button type="button" class="btn btn-success ml20" id="btn-save">
                                    <i class="fa fa-save mr5"></i> Salvar
                                </button>
                                <a href="{% url 'administrativo:templates' %}" class="btn btn-danger ml15">
                                    <i class="fa fa-times mr5"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="{% static 'administrativo/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'administrativo/js/popper.min.js' %}"></script>
        <script src="{% static 'administrativo/js/bootstrap.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- Custom and plugin javascript -->
        <script src="{% static 'administrativo/js/inspinia.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/pace/pace.min.js' %}"></script>
        <!-- Toastr script -->
        <script src="{% static 'administrativo/js/plugins/toastr/toastr.min.js' %}"></script>     
        <script src="{% static 'administrativo/js/plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tablednd/jquery.tablednd.min.js' %}"></script>  
        <script src="{% static 'administrativo/js/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/tempusdominus/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'administrativo/js/settings.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/checkAll/checkAll.js' %}"></script>
        <script src="{% static 'administrativo/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                var stages = [];
                
                // Inicializa o iCheck
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });
                
                // Adiciona uma fase
                $('#btn-add-stage').click(function() {
                    var stageName = $('#stage_name').val();
                    var stageRounds = $('#stage_rounds').val();
                    var stageMatches = $('#stage_matches').val();
                    
                    if (!stageName || !stageRounds || !stageMatches) {
                        toastr.error('Preencha todos os campos da fase');
                        return;
                    }
                    
                    if (stageRounds < 1 || stageMatches < 1) {
                        toastr.error('Rodadas e jogos por rodada devem ser maiores que zero');
                        return;
                    }

                    // Verifica se já existe uma fase com o mesmo nome
                    var duplicateName = false;
                    stages.forEach(function(stage) {
                        if (stage.name.toLowerCase() === stageName.toLowerCase()) {
                            duplicateName = true;
                        }
                    });

                    if (duplicateName) {
                        toastr.error('Já existe uma fase com este nome');
                        return;
                    }
                    
                    var stageIndex = stages.length;
                    stages.push({
                        name: stageName,
                        rounds: stageRounds,
                        matches: stageMatches
                    });
                    
                    // Adiciona a linha na tabela
                    var row = $('<tr>');
                    row.append($('<td>').text(stageName));
                    row.append($('<td>').text(stageRounds));
                    row.append($('<td>').text(stageMatches));
                    
                    var actions = $('<td>');
                    var editBtn = $('<button type="button" class="btn btn-info btn-xs mr5" title="Editar">')
                        .append('<i class="fa fa-pencil"></i>')
                        .data('index', stageIndex);
                    var deleteBtn = $('<button type="button" class="btn btn-danger btn-xs mr5" title="Excluir">')
                        .append('<i class="fa fa-trash"></i>')
                        .data('index', stageIndex);
                        
                    actions.append(editBtn).append(deleteBtn);
                    row.append(actions);
                    
                    $('#stages-table tbody').append(row);
                    
                    // Limpa os campos
                    $('#stage_name').val('');
                    $('#stage_rounds').val('');
                    $('#stage_matches').val('');
                    
                    // Atualiza o contador de fases
                    $('#number_of_stages').val(stages.length);
                    
                    // Adiciona campos hidden ao formulário
                    $('#form-template').append(
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'stage_name_' + stageIndex,
                            value: stageName
                        })
                    ).append(
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'stage_rounds_' + stageIndex,
                            value: stageRounds
                        })
                    ).append(
                        $('<input>').attr({
                            type: 'hidden',
                            name: 'stage_matches_per_round_' + stageIndex,
                            value: stageMatches
                        })
                    );
                });
                
                // Editar fase
                $(document).on('click', '.btn-info', function() {
                    var index = $(this).data('index');
                    var stage = stages[index];
                    
                    $('#stage_name').val(stage.name);
                    $('#stage_rounds').val(stage.rounds);
                    $('#stage_matches').val(stage.matches);
                    
                    // Remove a fase atual
                    stages.splice(index, 1);
                    $(this).closest('tr').remove();
                    
                    // Atualiza o contador de fases
                    $('#number_of_stages').val(stages.length);
                    
                    // Remove os campos hidden
                    $('input[name="stage_name_' + index + '"]').remove();
                    $('input[name="stage_rounds_' + index + '"]').remove();
                    $('input[name="stage_matches_per_round_' + index + '"]').remove();
                });
                
                // Excluir fase
                $(document).on('click', '.btn-danger', function() {
                    var index = $(this).data('index');
                    
                    // Remove a fase
                    stages.splice(index, 1);
                    $(this).closest('tr').remove();
                    
                    // Atualiza o contador de fases
                    $('#number_of_stages').val(stages.length);
                    
                    // Remove os campos hidden
                    $('input[name="stage_name_' + index + '"]').remove();
                    $('input[name="stage_rounds_' + index + '"]').remove();
                    $('input[name="stage_matches_per_round_' + index + '"]').remove();
                });
                
                // Salvar template
                $('#btn-save').click(function() {
                    if (!$('#name').val()) {
                        toastr.error('Preencha o nome do template');
                        return;
                    }
                    
                    if (stages.length === 0) {
                        toastr.error('Adicione pelo menos uma fase');
                        return;
                    }
                    
                    $.ajax({
                        url: '{% url "administrativo:template_novo" %}',
                        type: 'POST',
                        data: $('#form-template').serialize(),
                        success: function(response) {
                            if (response.success) {
                                toastr.success(response.message);
                                window.location.href = response.redirect;
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error: function() {
                            toastr.error('Erro ao salvar template');
                        }
                    });
                });

                // Inicializa o sortable na tabela de fases
                $("#stages-table tbody").sortable({
                    handle: ".fa-arrows",
                    update: function(event, ui) {
                        // Atualiza a ordem das fases
                        $("#stages-table tbody tr").each(function(index) {
                            $(this).find('input[name^="stage_order_"]').val(index);
                        });
                    }
                });
                
                // Adiciona ícone de arraste nas linhas da tabela
                $("#stages-table tbody tr").each(function() {
                    $(this).prepend('<td><i class="fa fa-arrows"></i></td>');
                });
            });
        </script>
    </body>
</html>
